:root {
    --form-control-color: #A900A9;
}

*, *:before, *:after {
  box-sizing: border-box;
}
body{
    background-color: black;
    color: azure;
    font-family: system-ui, sans-serif;
    text-align: center;
}
.option-selector{
    display: flex;
    align-content: center;
}
.radio-container{
    flex: auto;
    text-align: center;
    font-size: xx-large;
    padding: 5%;
    margin: 0 auto;
}
.radio-container.dog:hover{
    background-color: #89B4FA;
}
.radio-container.cat:hover{
    background-color: #F58F8F;
}

input[type="radio"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--form-background);
    /* Not removed via appearance */
    margin: 0;
  
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);
  
    display: grid;
    place-content: center;
}
  
input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: CanvasText;
}
  
input[type="radio"]:checked::before {
    transform: scale(1);
}
  
input[type="radio"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
}
input[type="text"]{
    width: 20rem;
    height: 3rem;
    text-align: center;
    font-size: x-large;
    background-color: #ffffff;
}
button{
    font-size: x-large;
    width: 20rem;
    height: 3rem;
    border-radius: 25px;
}
button:hover{
    background-color: #FF62FF;
    color: #ffffff;
}
.button-holder{
    padding: 20px;
}